{% extends "layout/base.html" %}
{% load bootstrap4 %}

{% block title %}Создание заказа{% endblock %}

{% block content %}
    <h2>Создание заказа</h2>
    <div style="display: flex">
        <div>
        {% if user.is_authenticated and user.region and user.name %}
            <h5>Указанный вами адрес в профиле: </h5>
            <p>Область: {{ user.region }}</p>
            <p>Город: {{ user.city }}</p>
            <p>Название улицы: {{ user.street_name }}</p>
            <p>Номер дома: {{ user.house_number }}</p>
            <p>Подъезд: {{ user.entrance }}</p>
            <p>Этаж: {{ user.floor }}</p>
            <p>Номер квартиры: {{ user.apartment }}</p>
            <p>Почтовый индекс: {{ user.post_code }}</p>
            <p>Имя: {{ user.name }}</p>
            <p>Фамилия: {{ user.surname }}</p>
            <p>Отчество: {{ user.patronymic }}</p>
            <p>Электронная почта: {{ user.email }}</p>
            <p>Номер телефона: {{ user.phone }}</p>

            <h5>Изменить информацию о себе можно в профиле</h5>
            <a href="{% url 'profile' %}" class="btn btn-primary">Профиль</a>
        {% elif user.is_authenticated and user.region %}
            <h5>Указанный вами адрес в профиле: </h5>
            <p>Область: {{ user.region }}</p>
            <p>Город: {{ user.city }}</p>
            <p>Название улицы: {{ user.street_name }}</p>
            <p>Номер дома: {{ user.house_number }}</p>
            <p>Подъезд: {{ user.entrance }}</p>
            <p>Этаж: {{ user.floor }}</p>
            <p>Номер квартиры: {{ user.apartment }}</p>
            <p>Почтовый индекс: {{ user.post_code }}</p>

            <h5>Изменить адрес и добавить информацию о себе можно в профиле</h5>
            <a href="{% url 'profile' %}" class="btn btn-primary">Профиль</a>
        {% endif %}
            <form method="POST" style="width: 500px">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% buttons submit='Создать' %}{% endbuttons %}
            </form>
        </div>
        <form action="{% url 'promo_code_apply' %}" method="POST" style="width: 400px; margin-left: 30px">
            {% csrf_token %}
            {% bootstrap_form promo_code_apply_form layout='horizontal' %}
            {% buttons submit='Применить' %}{% endbuttons %}
        </form>
        <div style="margin-left: 40px">
            <p><strong>Ваш заказ:</strong></p>
            {% for item in cart %}
            <a href="{% url 'product_detail' pk=item.product.id %}">
                <div>
                    <p>{{ item.product.title }}</p>
                    <p><img src="{{ item.product.images.all.0.image.url }}" alt="Изображение товара" style="width: 300px;"></p>
                </div>
            </a>
            <p>{{ item.size }}</p>
            <p>{{ item.quantity }}</p>
            <p>{{ item.price }}</p>
            <p>{{ item.total_price }}</p>
            {% endfor %}
            <p>Общая стоимость заказа: {{ cart.get_total_price }}</p>
            {% if cart.promo_code %}
                <p>Применён промокод: "{{ cart.promo_code.promo_code }}"</p>
                {% if cart.promo_code.change_type == '%' %}
                    <p>Действие: -{{ cart.promo_code.price_reduction }}%</p>
                {% elif cart.promo_code.change_type == '-' %}
                    <p>Действие: -{{ cart.promo_code.price_reduction }}</p>
                {% endif %}
                <p>Цена с промокодом: {{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
            {% else %}
                <p><strong>Такого промокода нет!</strong></p>
            {% endif %}
        </div>
    </div>
{% endblock %}